.section-one {
    background: url(images/spacejoy-q3Qd86sfaoU-unsplash.jpg) center center/cover;
    height: 88vh;
}

nav {
    z-index: 999;
    background-color: #fff;
}

/* ================================================= */
#btn-serch {
    padding-top: 10%;
    position: absolute;
    height: 3rem;
    bottom: 80%;
    left: 13%;
    border-radius: 5%;
}

input {
    margin-left: 5px;
}

.btn-primary {
    height: 3rem;
    border-radius: 5px;
}

label {
    font-size: 1.1rem;
}

input {
    border-radius: 5px;
    border: none;
    width: 207px;
    height: 3rem;
}

select {
    border-radius: 5px;
    border: none;
    width: 207px;
    height: 3rem;
}


#btn-serch form {
    background-color: rgba(7, 7, 7, 0.444);
    border-radius: 1rem;
    display: flex;
    padding: 3%;
    color: #fff;
}

#btn-serch form #max-price {
    margin-left: 1%;

}

#btn-serch form #min-Price {
    margin-left: 1%;
}




/* =========================buttons add Announce======================== */
#btn-add {
    position: absolute;
    left: 41%;
    bottom: 33%;
    width: 22%;
    height: 8%;
}
.modal-edit {
    background-color: #4748BA;
}

/* ================================================= */

.btn-delet {
    background-color: #FF0000;
}

.btn-edit {
    background-color: #4748BA;
}

/* 
=======================  modal edite ========================== */
/* 
/*  */

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* =========== style cards================ */
.wow:hover {
    text-shadow: none !important;
    box-sizing: border-box !important;
    cursor: pointer !important;
    transition: all 0.3s ease !important;
    -webkit-transform: scale(1.1) !important;
    -ms-transform: scale(1.1) !important;
    transform: scale(1.1) !important;
    z-index: 2;
}

.wow {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}